* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

#canvas {
  /*We dont set the size here to avoid a resize that would pixelated the image*/
  border: 2px solid black;
  margin-top: 40px;
}
